/*
	this declaration fixes an issue with display errors for doctype html
	https://stackoverflow.com/questions/1966300/height-100-is-not-working-in-html-when-using-doctype/1966377#1966377
*/
html, body {
	height: 100%
}

/* full sized map */
#map {
	height: 100%;
}

.location_popup {
	background-color: #C9F3FF;
}

.location_popup .location_title {
	font-weight: bold;
}

.card-columns {
  column-count: 4;
}
