<@pp.dropOutputFile />

<#include "ftl_def_languages.ftl" />
<#include "ftl_macro_get_lang_value.ftl" />
<#include "ftl_macro_get_image_card_deck.ftl" />

<#list languages as lang>
<#list books.books as media>
<@pp.changeOutputFile name="/books/book_${media.id}_${lang}.html" />

<#assign media_title><@get_lang_value map_content=media.title lang=lang lang_default=lang_default /></#assign>
<#assign page_title = media_title />
<#assign page_description = "" />
<#assign active_nav = "books" />

<#include "ftl_html_head.ftl" />
<#include "ftl_html_body_start.ftl" />
<#include "ftl_html_header.ftl" />

					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="/">Karte</a></li>
						<li class="breadcrumb-item"><a href="/books_${lang}.html">Bücher</a></li>
						<li class="breadcrumb-item active">${media_title}</li>
					</ol>

					<a href="<@get_lang_value map_content=media.wikipedia_link lang=lang lang_default=lang_default />" class="btn btn-outline-primary mt-2 mr-2 mb-4" target="_blank"><i class="fa fa-book"></i>&nbsp;&nbsp;${media_title} in der Wikipedia</a>

					<@get_image_card_deck image_path="images_locations" item_id=media.id media_title=media_title />

					<#list media.locations as location>
						<#assign location_title><@get_lang_value map_content=location.title lang=lang lang_default=lang_default /></#assign>
						<h2 id="${location.id}">${location_title}</h2>
						<p><@get_lang_value map_content=location.media_location_description lang=lang lang_default=lang_default /></p>
						<p><@get_lang_value map_content=location.location_description lang=lang lang_default=lang_default /></p>

						<a href="/index.html?longitude=${location.longitude}&latitude=${location.latitude}" class="btn btn-outline-primary mt-2 mr-2 mb-4"><i class="fa fa-map-marker"></i>&nbsp;&nbsp;Auf der Karte zeigen</a>

						<@get_image_card_deck image_path="images_locations/${media.id}" item_id=location.id media_title=location_title />

					</#list>

				</div>

				<div class="col-lg-3 d-print-none">
					<h5>Auf dieser Seite</h5>
					<ul>
						<#list media.locations as location>
							<li><a href="#${location.id}"><@get_lang_value map_content=location.title lang=lang lang_default=lang_default /></a></li>
						</#list>
					</ul>
				</div>

<#include "ftl_html_footer.ftl" />

</#list>
</#list>
