<@pp.dropOutputFile />

<#include "ftl_def_languages.ftl" />
<#include "ftl_macro_get_lang_value.ftl" />

<#list languages as lang>
<@pp.changeOutputFile name="books_${lang}.html" />

<#assign page_title = "Bücher" />
<#assign page_description = "Die Liste aller erfassten Bücher." />
<#assign active_nav = "books" />

<#include "ftl_html_head.ftl" />
<#include "ftl_html_body_start.ftl" />
<#include "ftl_html_header.ftl" />

          <ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="/">Karte</a></li>
						<li class="breadcrumb-item active">Bücher</li>
					</ol>

					<#list books.books as media>
						<a href="/books/book_${media.id}_${lang}.html" class="btn btn-outline-primary mt-2 mr-2"><i class="fa fa-book"></i>&nbsp;&nbsp;<@get_lang_value map_content=media.title lang=lang lang_default=lang_default /></a>
					</#list>

				</div>

<#include "ftl_html_footer.ftl" />

</#list>
