<@pp.dropOutputFile />

<#include "ftl_def_languages.ftl" />

<#list languages as lang>
<@pp.changeOutputFile name="imprint_${lang}.html" />

<#assign page_title = "Impressum" />
<#assign page_description = "Wer bin ich und warum?" />
<#assign active_nav = "imprint" />

<#include "ftl_html_head.ftl" />
<#include "ftl_html_body_start.ftl" />
<#include "ftl_html_header.ftl" />

					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="/">Karte</a></li>
						<li class="breadcrumb-item active">${page_title}</li>
					</ol>

					<p>Cinemap ist ein Projekt von Ekkart Kleinod.</p>
					<p>Kontakt: <a href="mailto:ekleinod@edgesoft.de">ekleinod@edgesoft.de</a></p>

					<h2 id="technics">Technik</h2>
					<p>Bootstrap, leaflet, ...</p>

					<h2 id="license">Lizenz</h2>
					<p>CC oder GPL oder LGPL oder MIT?</p>

				</div>

				<div class="col-lg-3 d-print-none">
					<h5>Auf dieser Seite</h5>
					<ul>
						<li><a href="#technics">Technik</a></li>
						<li><a href="#license">Lizenz</a></li>
					</ul>
				</div>

<#include "ftl_html_footer.ftl" />

</#list>
