<@pp.dropOutputFile />

<#include "ftl_def_languages.ftl" />
<#include "ftl_macro_get_lang_value.ftl" />

<#list languages as lang>
<@pp.changeOutputFile name="movies_${lang}.html" />

<#assign page_title = "Filme" />
<#assign page_description = "Die Liste aller erfassten Filme." />
<#assign active_nav = "movies" />

<#include "ftl_html_head.ftl" />
<#include "ftl_html_body_start.ftl" />
<#include "ftl_html_header.ftl" />

          <ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="/">Karte</a></li>
						<li class="breadcrumb-item active">Filme</li>
					</ol>

          <#assign media_list = [] />
          <#list movies.movies as media>
            <#assign tmp_title><@get_lang_value map_content=media.title lang=lang lang_default=lang_default /></#assign>
  					<#assign media_list = media_list + [{"title": tmp_title, "media": media}] />
    			</#list>

					<#list media_list?sort_by("title") as media>
						<a href="/movies/movie_${media.media.id}_${lang}.html" class="btn btn-outline-primary mt-2 mr-2"><i class="fa fa-film"></i>&nbsp;&nbsp;${media.title}</a>
					</#list>

				</div>

<#include "ftl_html_footer.ftl" />

</#list>
